div.alert.alert--error#alertError
    p.alert__text.alert__text--error#alertErrorText 
    div.alert__cross.alert__cross--error#alertErrorCross &#9587;
div.alert.alert--success#alertSuccess
    p.alert__text.alert__text--success#alertSuccessText 
    div.alert__cross.alert__cross--success#alertSuccessCross &#9587;

//.alertIfNoTutorName
    .alertIfNoTutorName__window
        div.alertIfNoTutorName__circle !
        p.alertIfNoTutorName__text Вы должны заполнить ФИО перед тем, как продолжить!
        a(href="").alertIfNoTutorName__link Заполнить