header.container-fluid
    .container.header__content
        div.header__main
            a(href="/")
                img(src="img/logo.svg", alt="logo", class="header__logo")
            h1.header__heading Tutor's WEB APP
        a(href="")
            img(src="img/home.svg", alt="home").header__home

             
            
            
            
            
