<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container
            include includes/alerts.pug

        section.container-fluid.adminSubjects
            h1.adminSubjects__heading Предметы
            form(action="", name="adminSubjectsForm").adminSubjects__table
                .adminSubjects__item
                    p.adminSubjects__name Lorem 
                    .lecture
                    a(href="").adminSubjects__edit 
                        img(src="/img/profileEdit.svg", alt="edit")
                .adminSubjects__item
                    p.adminSubjects__name Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repudiandae quam non exercitationem adipisci voluptatum? Cumque amet praesentium, illo vitae eum natus unde itaque atque culpa voluptatibus, autem, nam rerum.
                    .laboratory
                    a(href="").adminSubjects__edit 
                        img(src="/img/profileEdit.svg", alt="edit")
                .adminSubjects__item
                    p.adminSubjects__name Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repudiandae quam non exercitationem adipisci voluptatum? Cumque amet praesentium, illo vitae eum natus unde itaque atque culpa voluptatibus, autem, nam rerum.
                    .practic
                    a(href="").adminSubjects__edit 
                        img(src="/img/profileEdit.svg", alt="edit")
                .adminSubjects__item
                    p.adminSubjects__name Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repudiandae quam non exercitationem adipisci voluptatum? Cumque amet praesentium, illo vitae eum natus unde itaque atque culpa voluptatibus, autem, nam rerum.
                    .seminar
                    a(href="").adminSubjects__edit 
                        img(src="/img/profileEdit.svg", alt="edit")

            a(href="").adminSubjects__add
                img(src="img/plusSign.svg", alt="add")
                    
                


                