<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container-fluid.chooseGroup
            .chooseGroup__window
                h2.chooseGroup__heading Выберите группу
                div.chooseGroup__items
                    a(href="").chooseGroup__item ТМ-71
                    a(href="").chooseGroup__item ТМ-72
                    a(href="").chooseGroup__item ТМ-73
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    a(href="").chooseGroup__item ТМ-74
                    //p.chooseGroup__null У вас пока нету групп
                a(href="").chooseGroup__back Назад
                    