<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container.chooseSubject

            include includes/alerts.pug
            
            .chooseSubject__window
                h2.chooseSubject__heading Выберите предмет
                form(action="", class="chooseSubject__form", name="chooseSubject")
                    label.chooseSubject__item
                        p.chooseSubject__text SUBJECT
                        input(type="radio", name="chooseSubjectInput", class="chooseSubject__input", value="")
                    label.chooseSubject__item
                        p.chooseSubject__text SUBJECT
                        input(type="radio", name="chooseSubjectInput", class="chooseSubject__input", value="")
                    label.chooseSubject__item
                        p.chooseSubject__text SUBJECT
                        input(type="radio", name="chooseSubjectInput", class="chooseSubject__input", value="")
        script(src="js/alerts.js")
        script(src="js/chooseSubject.js")