<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container.forgetPassword
            .forgetPassword__alert#alert
                p.forgetPassword__alert-text#alertText
                div.forgetPassword__alert-cross#alertCross &#9587;
            .forgetPassword__success#success
                p.forgetPassword__success-text#successText
                div.forgetPassword__success-cross#successCross &#9587;
            div.forgetPassword__window
                h2.forgetPassword__heading Восстановление пароля
                form(action="", class="forgetPassword__form", name="forgetPassword")
                    label
                        p.forgetPassword__text Email
                        input(type="email", name="forgetPasswordInput", class="forgetPassword__input", autocomplete="email", id="forgetPasswordInput")
                    button(type="submit", class="forgetPassword__submit") Готово


        script(src="js/forgetPassword.js")