<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container-fluid.forgetPassword
            
            include includes/alerts.pug

            div.forgetPassword__window
                h2.forgetPassword__heading Восстановление пароля
                form(action="", class="forgetPassword__form", name="forgetPassword")
                    label
                        p.forgetPassword__text Email
                        input(type="email", name="forgetPasswordInput", class="forgetPassword__input", autocomplete="email", id="forgetPasswordInput")
                    button(type="submit", class="forgetPassword__submit") Готово

        script(src="js/alerts.js")
        script(src="js/forgetPassword.js" type="module")