<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/headerJournal.pug

        section.container
            include includes/alerts.pug

        section.container-fluid.groupEdit
            form(action="", name="groupEdit")
                div.groupEdit__heading
                    input(type="text", name="groupEditGroup", class="groupEdit__group", value="TM-71")
                div.groupEdit__table
                    div.groupEdit__table-item.groupEdit__table-item--heading ФИО
                    div.groupEdit__table-item 
                        input(type="text", name="student[1][lastname]", class="name", placeholder="Фамилия", value="Hui")
                        input(type="text", name="student[1][firstname]", class="name", placeholder="Имя", value="Sobachiy")
                        input(type="text", name="student[1][fathername]", class="name", placeholder="Отчество", value="Dog")
                        div.groupEdit__table-item-delete &#8854;
                    div.groupEdit__table-item 
                        input(type="text", name="student[2][lastname]", class="name", placeholder="Фамилия", value="Yelmanov")
                        input(type="text", name="student[2][firstname]", class="name", placeholder="Имя", value="Bohdan")
                        input(type="text", name="student[2][fathername]", class="name", value="Hui")
                        div.groupEdit__table-item-delete &#8854;
                    div.groupEdit__table-item 
                        input(type="text", name="student[3][lastname]", class="name", placeholder="Фамилия", value="Kovalenko")
                        input(type="text", name="student[3][firstname]", class="name", placeholder="Имя", value="Maxim")
                        input(type="text", name="student[3][fathername]", class="name", placeholder="Отчество", value="Pisos")
                        div.groupEdit__table-item-delete &#8854;

                div.groupEdit__addStudent#addStudentButton Добавить студента
                


                button(type="submit", class="groupEdit__submit") Сохранить

        script(src="js/alerts.js")
        script(src="js/groupEdit.js")
