<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/headerJournal.pug

        section.container
            include includes/alerts.pug

        section.container-fluid.journalEdit
            form(action="", name="journalEdit")
                div.journalEdit__heading
                    input(type="text", name="journalEditGroup", class="journalEdit__group", value="TM-71")
                    input(type="text", name="journalEditSubject", class="journalEdit__subject", value="Схемотехника (лекция)")
                div.journalEdit__table
                    div.journalEdit__table-line
                        div.journalEdit__table-item ФИО
                        div.journalEdit__table-item.journalEdit__table-item--date 31.02
                        div.journalEdit__table-item.journalEdit__table-item--date 31.02
                        div.journalEdit__table-item.journalEdit__table-item--date 31.02
                    div.journalEdit__table-line
                        div.journalEdit__table-item 
                            input(type="text", name="", class="name", value="1. Hui Sobachiy")
                            div.journalEdit__table-item-delete &#8854;
                        div.journalEdit__table-item
                            div.absent н
                        div.journalEdit__table-item
                            div.absent н
                        div.journalEdit__table-item
                            div.absent н
                    div.journalEdit__table-line
                        div.journalEdit__table-item 
                            input(type="text", name="", class="name", value="2. Max sosi penis")
                            div.journalEdit__table-item-delete &#8854;
                        div.journalEdit__table-item
                            div.absent н
                        div.journalEdit__table-item
                            div.absent 
                        div.journalEdit__table-item
                            div.absent н
                div.journalEdit__addStudent#addStudentButton Добавить студента
                


                button(type="submit", class="journalEdit__submit") Сохранить

        script(src="js/alerts.js")
        script(src="js/journalEdit.js")
