<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        
        include includes/header.pug
        section.container
            include includes/alerts.pug

        section.container-fluid.journal
            
            form(action="", name="journal")
                .journal__group
                    h2.journal__group-heading TM-71
                    a(href="").journal__group-button Изменить группу
                .journal__subject
                    h2.journal__subject-heading Схемотехника
                    //input(type="text", name="subject", value="Схемотехника (лекция)", class="journal__subject-input", autofocus)
                    // ставить класс в зависимости от типа премета (.lecture, .laboratory, .practic, .seminar)
                    .lecture
                    a(href="").journal__subject-button Изменить предмет
                div.journal__table
                    div.journal__table-line
                        div.journal__table-item ФИО
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div.journal__table-item.journal__table-item--date.header 31.02
                        div(data-itemId="1").journal__table-item.journal__table-item--date.header 31.01
                            // put it only if tutor can delete this column
                            .delete
                                img(src="/img/bin.svg", alt="del")
                        
                        div.journal__addColumn#addColumn
                            img(src="img/plusSign.svg", alt="add")
                    div.journal__table-line
                        div(data-id="1").journal__table-item 1. Yelmanov Bohdan
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div(data-itemId="2").journal__table-item
                            input(type="text", name="", class="absent", value="н")
                    div.journal__table-line
                        div(data-id="2").journal__table-item 2. Kovalenko Maxim
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div(data-itemId="3").journal__table-item
                            input(type="text", name="", class="absent", value="")
                    div.journal__table-line
                        div(data-id="3").journal__table-item 3. Tymoshenko Ivan
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div(data-itemId="4").journal__table-item
                            input(type="text", name="", class="absent", value="")

                .journal__buttons
                    button(type="submit", class="journal__submit") сохранить
                    div.journal__reload#reloadButton отменить
        
        
        script(src="js/alerts.js")
        script(src="js/journal.js")
                        
                    
                