<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        header.container-fluid
            .container.journalHeader__content
                a(href="/")
                    img(src="img/logo.svg", alt="logo", class="journalHeader__logo")
                h1.journalHeader__heading Tutor's WEB API

                form(action="", method="POST", name="journalSignOut", class="journal__signOut")
                    input(type="hidden", name="_token", value="")
                    label
                        img(src="img/signOut.svg", alt="Sign Out", class="journal__signOut-img")
                        input(type="submit", value="", class="journal__signOut-submit")

        section.container
            div.journal__alert.journal__alert--error#journalAlert
                p.journal__alert-text.journal__alert-text--error#journalAlertText some text of errro
                div.journal__alert-cross.journal__alert-cross--error &#9587;
            div.journal__alert.journal__alert--success#journalSuccessAlert
                p.journal__alert-text.journal__alert-text--success#journalSuccessAlertText some text of okay
                div.journal__alert-cross.journal__alert-cross--success &#9587;

        section.container-fluid.journal
            h2.journal__heading TM-71 <span class="journal__heading-subject">Схемотехника (лекция)</span>

            div.journal__addStudentPopUp
                h2.journal__addStudentPopUp-heading Введите имя студента
                input(type="text", id="nameOfNewStudent", class="journal__addStudentPopUp-input")
                button.journal__addStudentPopUp-button#submitNewStudentName Готово
                div.journal__addStudentPopUp-cross#crossAddNewStudent X
            div.journal__addColumn#addColumn Добавить колонку
            form(action="", name="journal")
                div.journal__table
                    div.journal__table-line
                        div.journal__table-item ФИО
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                        div.journal__table-item.journal__table-item--date 31.02
                    div.journal__table-line
                        div.journal__table-item 1. Yelmanov Bohdan
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                    div.journal__table-line
                        div.journal__table-item 2. Kovalenko Maxim
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                    div.journal__table-line
                        div.journal__table-item 3. Tymoshenko Ivan
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="н")
                        div.journal__table-item
                            input(type="text", name="", class="absent", value="")

                .journal__buttons
                    button(type="submit", class="journal__submit") сохранить
                    div.journal__addStudent#addStudent Добавить студента
        
        
        
        
        
        
        
        
        
        
        script(src="js/journal.js")
                        
                    
                