<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/header.pug

        section.container-fluid.setNewPassword
            
            include includes/alerts.pug

            div.setNewPassword__window
                h2.setNewPassword__heading Установите новый пароль
                form(action="", name="setNewPassword", class="setNewPassword__form")
                    label.setNewPassword__item
                        p.setNewPassword__text Email
                        input(type="email", name="email", class="setNewPassword__input", id="emailInput", disabled, value="email@com.ua", autocomplete="email")
                    label.setNewPassword__item
                        p.setNewPassword__text Новый пароль
                        input(type="password", name="password", class="setNewPassword__input", id="passwordInput", autocomplete="new-password")
                        p.setNewPassword__capture#passwordLength Пароль должен содержать не менее 8 символов.

                    label.setNewPassword__item
                        p.setNewPassword__text Повторите новый пароль
                        input(type="password", name="passwordRepeat", class="setNewPassword__input", id="passwordRepeatInput", autocomplete="new-password")
                        p.setNewPassword__capture#passwordsAreNotTheSame Пароли не совпадают.
                    button(type="submit", class="setNewPassword__submit") Готово
        script(src="js/alerts.js")
        script(src="js/setNewPassword.js")