@import "vars"

.alert
    width: 100%
    max-width: 500px
    border-radius: 40px
    min-height: 40px
    margin: auto
    padding: 0 10px
    position: relative
    margin-bottom: 10px
    z-index: 3
    background: #fff
    display: none
    &--error
        border: 2px solid red
    &--success
        border: 2px solid green
    &__text
        line-height: 40px
        text-align: center
        font-weight: bold
        font-weight: 400
        &--error
            color: red
        &--success 
            color: green
    &__cross
        position: absolute
        right: 10px
        font-size: 20px
        font-weight: 500
        cursor: pointer
        top: 0
        bottom: 0
        margin: auto
        width: 20px
        height: 20px
        line-height: 20px
        &--error
            color: red
        &--success
            color: green

.alertIfNoTutorName
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(38,38,38,.7)
    z-index: 10
    display: flex
    &__window
        width: 100%
        max-width: 400px
        min-height: 200px
        max-height: 300px
        background: #fff
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 30px
        padding-top: 70px
        position: relative
    &__circle
        width: 100px
        height: 100px
        border: 3px solid #31d5d4
        border-radius: 50%
        text-align: center
        line-height: 100px
        font-size: 40px
        font-weight: 400
        background: #f4f6fb
        margin: auto
        position: absolute
        right: 0
        left: 0
        top: -50px
        color: #31d5d4
    &__text
        font-size: 17px
        text-align: center
        line-height: 20px
        margin-bottom: 40px
    &__link
        text-decoration: none
        display: block
        margin: auto
        background: #31d5d4
        color: #fff
        width: 160px
        line-height: 30px
        border-radius: 20px
        text-align: center