@import "vars"

.alert
    width: 100%
    max-width: 500px
    border-radius: 40px
    min-height: 40px
    margin: auto
    padding: 0 10px
    position: relative
    margin-bottom: 10px
    z-index: 3
    background: #fff
    display: none
    &--error
        border: 2px solid red
    &--success
        border: 2px solid green
    &__text
        line-height: 40px
        text-align: center
        font-weight: bold
        font-weight: 400
        &--error
            color: red
        &--success 
            color: green
    &__cross
        position: absolute
        right: 10px
        font-size: 20px
        font-weight: 500
        cursor: pointer
        top: 0
        bottom: 0
        margin: auto
        width: 20px
        height: 20px
        line-height: 20px
        &--error
            color: red
        &--success
            color: green