@import "vars"
.nav
    display: flex
    flex-wrap: wrap
    list-style: none
    margin-bottom: 20px
    &-tabs
        border-bottom: 1px solid #dee2e6
    &-item
        margin-bottom: -1px
    &-link
        display: block
        padding: .5rem 1rem
        text-decoration: none
        border: 1px solid transparent
        border-top-left-radius: .25rem
        border-top-right-radius: .25rem
        //color: #007bff
        color: #3cb4dd
        &:hover
            border-color: #e9ecef #e9ecef #dee2e6
            color: #0056b3
    .active
        color: #495057
        background-color: #fff
        border-color: #dee2e6 #dee2e6 #fff
.groupEdit
    padding-top: 20px
    position: relative
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-flow: row wrap
    &__heading
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
    &__group
        font-size: 35px
        font-weight: 400
        width: 150px
        height: 35px
        line-height: 35px
        margin-bottom: 20px
        font-family: $default-font
        color: #262626
        text-align: center
        outline: none
        border-radius: 20px
        border: 2px solid transparent
        margin-right: 15px
        display: block
        background: #f4f6fb   
        &:focus
            border: 2px solid #31d5d4 
    &__monitor
        margin-bottom: 20px
        max-width: 350px
        overflow: hidden
        height: 30px
        line-height: 30px
        &-label
            font-size: 15px
            display: block
            margin-bottom: 8px
    &__form
        flex: 0 0 55%
    &__table
        display: flex
        flex-flow: column nowrap
        margin-bottom: 20px
        max-height: calc(100vh - 468px)
        overflow-y: scroll
        min-height: 50px
        &-item
            width: 700px
            height: 45px
            min-width: 50px
            line-height: 35px
            text-align: center
            border: 1px solid $tableBorderColor
            font-size: 16px
            position: relative
            display: flex
            align-items: center
            justify-content: flex-start
            padding: 8px 0
            &--heading
                text-align: center
                display: block
                font-size: 20px
                line-height: 45px
                padding: 0
            .name
                min-width: 100px
                flex: 0 0 30.5%
                height: 27px
                margin-left: 5px
                display: block
                font-size: 16px
                font-family: $default-font
                border: 2px solid transparent
                border-radius: 20px
                padding-left: 8px
                background: #f4f6fb
                &:focus
                    border: 2px solid #31d5d4
            &-delete
                position: absolute
                width: 15px
                right: 14px
                top: 12px
                cursor: pointer
    &__buttons
        display: flex
        align-items: center
        justify-content: flex-start
    &__submit
        width: 200px
        height: 50px
        line-height: 50px
        text-align: center
        border: none
        border-radius: 5px
        background: #31d5d4
        font-weight: 600
        font-size: 15px
        text-transform: uppercase
        cursor: pointer
        letter-spacing: .1em
        margin-right: 50px
        color: #fff
    &__reload
        color: #c4c4c4
        text-decoration: underline
        font-size: 15px
        margin-left: 10px
        cursor: pointer
    &__addStudent
        width: 30px
        min-width: 30px
        max-width: 30px
        display: flex
        height: 30px
        border-radius: 50%
        background: $gradient
        cursor: pointer
        margin-left: 5px
        margin-bottom: 50px
        img
            margin: auto
            width: 15px
            height: 15px
.groupData
    padding-top: 50px 
    padding-bottom: 30px
    flex: 0 0 22%
    &__heading
        font-size: 20px
        line-height: 25px
        font-weight: 400
        margin-bottom: 30px
    &__email, &__password
        display: flex
        align-items: center
        justify-content: flex-start
        margin-bottom: 15px
        &-img
            cursor: pointer
    &__editEmail
        width: 100%
        height: 100%
        min-height: 100vh
        background: rgba(38,38,38,.7)
        position: fixed
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 4
        display: flex
        display: none
        &-window
            width: 100%
            max-width: 500px
            background: #fff
            min-height: 200px
            box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
            border-radius: 20px
            margin: auto
            padding-bottom: 30px
            position: relative
        &-heading
            font-size: 23px
            text-align: center
            line-height: 60px
            font-weight: 400
            color: #fff
            background: $gradient
            border-radius: 20px 20px 0 0
        &-form
            padding: 30px 30px 0 30px
        &-label
            font-size: 17px
            font-weight: 500
            margin-bottom: 10px
            margin-left: 10px
        &-input
            width: 100%
            height: 40px
            line-height: 40px
            border-radius: 20px
            background: #f4f6fb
            outline: none
            border: none
            color: #262626
            font-size: 17px
            padding: 0 10px
        &-submit
            width: 200px
            height: 40px
            margin: auto
            display: block
            margin-top: 40px
            outline: none
            border: none
            font-size: 20px
            border-radius: 15px
            cursor: pointer
            background: #f4f6fb
            &--active
                background: #31d5d4
        &-cross
            position: absolute
            top: 10px
            right: 10px
            font-size: 30px
            cursor: pointer
    &__editPassword
        width: 100%
        height: 100%
        min-height: 100vh
        background: rgba(38,38,38,.7)
        position: fixed
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 4
        display: flex
        display: none
        &-window
            width: 100%
            max-width: 500px
            background: #fff
            min-height: 200px
            box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
            border-radius: 20px
            margin: auto
            padding-bottom: 30px
            position: relative
        &-heading
            font-size: 23px
            text-align: center
            line-height: 60px
            font-weight: 400
            color: #fff
            background: $gradient
            border-radius: 20px 20px 0 0
        &-form
            padding: 30px 30px 0 30px
        &-text
            font-size: 17px
            color: #262626
            line-height: 25px
            margin-bottom: 5px
            font-weight: 500
            margin-left: 10px
        &-input
            width: 100%
            height: 40px
            line-height: 40px
            border-radius: 20px
            background: #f4f6fb
            outline: none
            border: none
            color: #262626
            font-size: 17px
            padding: 0 10px
            margin-bottom: 5px
        &-capture
            margin-bottom: 20px
            font-size: 13px
            font-weight: 100
            color: red
            visibility: hidden
        &-submit
            width: 200px
            height: 50px
            font-size: 25px
            font-family: $default-font
            margin: auto
            display: block
            border-radius: 5px
            border: none
            background: #f4f6fb
            margin-top: 40px
            outline: none
            cursor: pointer
            &--active
                background: #31d5d4
        &-cross
            position: absolute
            top: 10px
            right: 10px
            font-size: 30px
            cursor: pointer
.groupSubjects
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-flow: row wrap
    padding: 20px 15px
    display: none
    &__subjects, &__allsubjects
        flex: 0 0 48%
    &__table
        max-width: 630px
        &-item
            width: 630px
            height: 45px
            min-width: 50px
            line-height: 45px
            text-align: center
            border: 1px solid $tableBorderColor
            font-size: 13px
            position: relative
            display: flex
            align-items: center
            justify-content: space-between
            padding: 6px 10px
            &--heading
                text-align: center
                display: block
                font-size: 20px
                line-height: 45px
                padding: 0
            .name
                font-size: 13px
                line-height: 18px
                text-overflow: ellipsis
                overflow: hidden
                white-space: nowrap
                flex: 0 0 69%
                text-align: left
                &--allSubjects
                    flex: 0 0 89%
            .select
                flex: 0 0 20%
                max-width: 100px
                height: 18px
                margin-right: 5px
            .lecture
                flex: 0 0 8%
                &:after
                    content: 'ЛЕК'
                    width: 35px
                    height: 15px
                    line-height: 15px
                    text-align: center
                    color: #fff
                    border-radius: 2px
                    background: #F25C05
                    display: inline-block
                    font-size: 13px
                    margin-left: 5px
                    margin-right: 5px
            .laboratory
                flex: 0 0 8%
                &:after
                    content: 'ЛАБ'
                    width: 35px
                    height: 15px
                    line-height: 15px
                    text-align: center
                    color: #fff
                    border-radius: 2px
                    background: #F29F05
                    display: inline-block
                    font-size: 13px
                    margin-left: 5px
                    margin-right: 5px
            .practic
                flex: 0 0 8%
                &:after
                    content: 'ПРА'
                    width: 35px
                    height: 15px
                    line-height: 15px
                    text-align: center
                    color: #fff
                    border-radius: 2px
                    background: #33B3DF
                    display: inline-block
                    font-size: 13px
                    margin-left: 5px
                    margin-right: 5px
            .seminar
                flex: 0 0 8%
                &:after
                    content: 'СЕМ'
                    width: 35px
                    height: 15px
                    line-height: 15px
                    text-align: center
                    color: #fff
                    border-radius: 2px
                    background: #3359DF
                    display: inline-block
                    font-size: 13px
                    margin-left: 5px
                    margin-right: 5px
            &-delete, &-add
                width: 20px
                max-width: 20px
                min-width: 20px
                flex: 0 0 3%
                cursor: pointer

.accounts
    display: none

    &__heading
        font-size: 20px
        line-height: 25px
        margin-bottom: 10px
    &__select
        width: 300px
        height: 25px
        margin-bottom: 40px
        display: block
    &__submit
        width: 200px
        height: 50px
        line-height: 50px
        text-align: center
        border: none
        border-radius: 5px
        background: #31d5d4
        font-weight: 600
        font-size: 15px
        text-transform: uppercase
        cursor: pointer
        letter-spacing: .1em
        margin-top: 20px
        color: #fff


    

