@import "vars"

.journal
    padding-top: 20px
    position: relative
    &__headings
        display: flex
        align-items: flex-end
        justify-content: flex-start
        margin-bottom: 40px
        &-heading
            font-size: 35px
            line-height: 35px
            color: #262626
            font-weight: 400
            margin-right: 10px
        &-subject
            font-size: 20px
            line-height: 25px
        &-subjectInput
            outline: none
            color: #262626
            border-radius: 5px
            border: none
            box-shadow: 0 0 5px #ccc
            font-size: 20px
            font-family: $default-font
            font-weight: 400
            width: 500px
            height: 35px
            line-height: 35px
            padding-left: 5px
            overflow: scroll
            display: block
            margin-left: 5px     
    &__table
        overflow-x: scroll
        overflow-y: scroll
        display: flex
        flex-flow: column nowrap
        margin-bottom: 50px
        max-height: calc(100vh - 300px)
        &-line
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: flex-start
            font-size: 15px
            .journal__table-item
                &:first-child
                    width: 330px
                    min-width: 170px
                    text-align-last: left
                    padding-left: 5px
                    font-size: 16px
                
        &-item
            width: 50px
            height: 35px
            min-width: 50px
            line-height: 35px
            text-align: center
            border: 1px solid $tableBorderColor
            font-size: 16px
            &--date
                border: 1px solid $tableBorderColor
                font-size: 15px
                text-align: center
                //overflow: hidden
                font-weight: 500
                font-style: italic
                color: #262626
                text-align: center
                position: relative
            .absent
                width: 98%
                height: 30px
                line-height: 30px
                border: none
                font-size: 17px
                text-transform: lowercase
                margin: auto
                overflow: hidden
                text-align: center
    &__buttons
        display: flex
        align-items: center
        justify-content: flex-start
    &__submit
        width: 200px
        height: 50px
        line-height: 50px
        text-align: center
        border: none
        border-radius: 5px
        background: #31d5d4
        font-weight: 600
        font-size: 15px
        text-transform: uppercase
        cursor: pointer
        letter-spacing: .1em
        margin-right: 50px
    &__addColumn
        width: 30px
        min-width: 30px
        max-width: 30px
        display: flex
        height: 30px
        border-radius: 50%
        background: $gradient
        cursor: pointer
        margin-left: 5px
        img
            margin: auto
            width: 15px
            height: 15px
    &__reload
        font-size: 15px
        margin-left: 10px
        cursor: pointer

    





