@import "vars"

.journal
    padding-top: 20px
    position: relative
    &__group
        display: flex
        align-items: center
        justify-content: flex-start
        flex-flow: row wrap
        margin-bottom: 10px
        &-heading
            font-size: 35px
            line-height: 35px
            color: #262626
            font-weight: 400
            margin-right: 15px
        &-button
            text-decoration: none
            color: #262626
            padding: 5px 10px
            border-radius: 5px
            background: #f4f6fb
    &__subject
        display: flex
        align-items: center
        justify-content: flex-start
        flex-flow: row wrap
        margin-bottom: 30px
        &-heading
            font-size: 20px
            line-height: 25px
            font-weight: 400
            color: #262626
            margin-right: 5px
        .lecture
            &:after
                content: 'ЛЕК'
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #F25C05
                display: inline-block
                font-size: 13px
                margin-left: 5px
                margin-right: 20px
        .laboratory
            &:after
                content: 'ЛАБ'
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #F29F05
                display: inline-block
                font-size: 13px
                margin-left: 5px
                margin-right: 20px
        .practic
            &:after
                content: 'ПРА'
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #33B3DF
                display: inline-block
                font-size: 13px
                margin-left: 5px
                margin-right: 20px
        .seminar
            &:after
                content: 'СЕМ'
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #3359DF
                display: inline-block
                font-size: 13px
                margin-left: 5px
                margin-right: 20px
        &-button
            text-decoration: none
            color: #262626
            padding: 5px 10px
            border-radius: 5px
            background: #f4f6fb
        &-input
            max-width: 350px
            width: 100%
            height: 40px
            line-height: 40px
            border-radius: 20px
            background: #f4f6fb
            outline: none
            border: 2px solid transparent
            color: #262626
            font-size: 17px
            padding: 0 10px
            overflow-x: scroll
            margin-right: 5px
            &:focus
                border: 2px solid #31d5d4
    &__table
        overflow: auto
        display: flex
        flex-flow: column nowrap
        margin-bottom: 50px
        max-height: calc(100vh - 385px)
        min-height: 50px
        &-line
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: flex-start
            font-size: 15px
            max-height: 35px
            .journal__table-item
                border-top: 1px solid $tableBorderColor
                &:first-child
                    width: 330px
                    min-width: 170px
                    text-align-last: left
                    padding-left: 5px
                    font-size: 16px
                
        &-item
            width: 50px
            height: 35px
            min-width: 50px
            line-height: 35px
            text-align: center
            border-bottom: 1px solid $tableBorderColor
            border-left: 1px solid $tableBorderColor
            border-right: 1px solid $tableBorderColor
            font-size: 16px
            &--date
                font-size: 15px
                position: relative
                font-style: italic
                .header
                    width: 49px
                    height: 31px
                    font-size: 15px
                    line-height: 35px
                    border: none
                    text-align: center
                    font-weight: 400
                    color: #262626
                    font-style: italic
                    text-align: center
                .delete
                    position: absolute
                    bottom: -40px
                    left: -5px
                    margin: auto
                    display: none
                    width: 60px
                    height: 40px
                    background: #fff
                    border: 2px solid #333
                    border-radius: 10px
                    &:after
                        content: ''
                        background: #fff
                        position: absolute
                        top: -10px
                        left: 0
                        right: 0
                        margin: auto
                        width: 0
                        height: 0
                        border-left: 5px solid transparent
                        border-right: 5px solid transparent
                        border-bottom: 10px solid #333
                    img
                        width: 20px
                        margin: auto
                        cursor: pointer
                &:hover > .delete
                    display: flex
            .absent
                width: 98%
                height: 30px
                line-height: 30px
                border: none
                font-size: 17px
                text-transform: lowercase
                margin: auto
                overflow: hidden
                text-align: center
    &__buttons
        display: flex
        align-items: center
        justify-content: flex-start
    &__submit
        width: 200px
        height: 50px
        line-height: 50px
        text-align: center
        border: none
        border-radius: 5px
        background: #31d5d4
        font-weight: 600
        font-size: 15px
        text-transform: uppercase
        cursor: pointer
        letter-spacing: .1em
        margin-right: 50px
        color: #fff
    &__addColumn
        width: 30px
        min-width: 30px
        max-width: 30px
        display: flex
        height: 30px
        border-radius: 50%
        background: $gradient
        cursor: pointer
        margin-left: 5px
        img
            margin: auto
            width: 15px
            height: 15px
    &__reload
        color: #c4c4c4
        text-decoration: underline
        font-size: 15px
        margin-left: 10px
        cursor: pointer






