@import "fonts"
@import "libs"
@import "vars"

*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0
    padding: 0
    &:before, &:after
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box

*::-webkit-input-placeholder
    color: #666
    opacity: 1

*:-moz-placeholder
    color: #666
    opacity: 1

*::-moz-placeholder
    color: #666
    opacity: 1

*:-ms-input-placeholder
    color: #666
    opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666
body input:required:valid,
body textarea:required:valid
    color: #666

html, body
    height: 100%

body
    font-size: $defaultFontSize
    min-width: 320px
    position: relative
    font-family: $default-font
    overflow-x: hidden
    padding-bottom: 20px
img 
    max-width: 100%
::selection
    background-color: $accent
    color: #fff

.header
    &__content
        padding-top: 20px
        padding-bottom: 20px
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        height: 85px
    &__main
        display: flex
        align-items: center
        justify-content: flex-start
    &__logo
        width: 40px
        height: auto
        margin-right: 40px
    &__heading
        font-size: 25px
        line-height: 30px
        font-weight: 300
    &__home
        height: 30px
        margin-right: 15px
    &__buttons
        display: flex
        align-items: center
        justify-content: flex-end
    &__signOut
        &-img
            height: 25px
            cursor: pointer
        &-submit
            display: none

.chooseGroup
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 400px
        max-height: 400px
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        background: #fff
        position: absolute
        z-index: 1
        top: 0
        bottom: 0
        right: 0
        left: 0
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__items
        overflow-y: scroll
        max-height: 300px
        min-height: 300px
        display: flex
        align-items: center
        flex-flow: row wrap
        justify-content: space-around
        padding: 0 20px
        padding-bottom: 40px
    &__item
        flex: 1
        width: 120px
        max-width: 120px
        min-width: 120px
        height: 120px
        text-align: center
        background: #F4F6FB
        margin-top: 25px
        font-size: 23px
        font-weight: 500
        line-height: 120px
        border-radius: 20px
        cursor: pointer
        display: block
        color: #31D5D4
        text-decoration: none
        &:hover
            color: #F4F6FB
            background: $gradient
    &__back
        color: #c4c4c4
        text-decoration: underline
        font-size: 15px
        margin-left: 20px
        margin-top: 10px
        position: relative
        top: 10px
        &:before
            content: '\21FD'
            display: inline-block
            margin-right: 3px
            font-size: 15px
    &__null
        font-size: 17px
        font-weight: 400
        text-align: center
        margin-top: 15%
        color: #c4c4c4
        

.chooseSubject
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 400px
        max-height: 400px
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 40px
        background: #fff
        position: absolute
        z-index: 1
        top: 0
        bottom: 0
        right: 0
        left: 0
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__items
        overflow-y: scroll
        min-height: 300px
        max-height: 300px
        padding: 0 30px
        .lecture
            position: relative
            &:after
                content: 'ЛЕК'
                position: absolute
                right: 15px
                top: 0
                bottom: 0
                margin: auto
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #F25C05
        .laboratory
            position: relative
            &:after
                content: 'ЛАБ'
                position: absolute
                right: 15px
                top: 0
                bottom: 0
                width: 35px
                height: 15px
                margin: auto
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #F29F05
        .practic
            position: relative
            &:after
                content: 'ПРА'
                position: absolute
                right: 15px
                top: 0
                bottom: 0
                margin: auto
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #33B3DF
        .seminar
            position: relative
            &:after
                content: 'СЕМ'
                position: absolute
                right: 15px
                top: 0
                bottom: 0
                margin: auto
                width: 35px
                height: 15px
                line-height: 15px
                text-align: center
                color: #fff
                border-radius: 2px
                background: #3359DF
    &__item
        width: 100%
        text-align: left
        background: #F4F6FB
        margin: auto
        margin-top: 15px
        font-size: 13px
        line-height: 20px
        border-radius: 20px
        cursor: pointer
        display: block
        color: #31D5D4
        text-decoration: none
        padding: 8px 50px 8px 15px

        :afterposition: relative
        &:hover
            color: #F4F6FB
            background: $gradient
    &__back
        color: #c4c4c4
        text-decoration: underline
        font-size: 15px
        margin-left: 20px
        margin-top: 10px
        position: relative
        top: 10px
        &:before
            content: '\21FD'
            display: inline-block
            margin-right: 3px
            font-size: 15px
    &__null
        font-size: 17px
        font-weight: 400
        text-align: center
        margin-top: 30%
        color: #c4c4c4


.authorization
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 450px
        max-height: 450px
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 30px
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background: #fff
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__form
        padding: 50px 40px 20px 40px
    &__text
        font-size: 21px
        color: #262626
        line-height: 25px
        margin-bottom: 5px
        font-weight: 500
        margin-left: 10px
    &__input
        width: 100%
        height: 40px
        line-height: 40px
        border-radius: 20px
        background: #f4f6fb
        outline: none
        border: none
        margin-bottom: 30px
        color: #262626
        font-size: 17px
        padding: 0 10px
    &__item
        &:last-of-type
            .authorization__input
                margin-bottom: 10px
    &__captureWarning
        color: red
        text-align: center
        visibility: hidden
    &__submit
        width: 200px
        height: 50px
        font-size: 25px
        font-family: $default-font
        margin: auto
        display: block
        border-radius: 5px
        border: none
        background: #f4f6fb
        margin-top: 40px
        outline: none
        cursor: pointer
        &--active
            background: #31d5d4
            color: #fff
    &__links
        display: flex
        align-items: center
        justify-content: space-between
        flex-flow: row wrap
    &__register
        color: #666666
        text-align: left
        display: block
    &__forgetPassword
        color: #666666
        text-align: right
        display: block

.registration
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
.register
    max-width: 950px
    width: 100%
    min-height: 480px
    max-height: 480px
    height: auto
    font-family: $default-font
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto
    z-index: 5
    background: #fff
    border-radius: 20px
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25)
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__enter
        font-size: 17px
        line-height: 21px
        color: $black
        text-decoration: none
        position: absolute
        top: 20px
        left: 38px
        z-index: 5
        cursor: pointer
        &:before
            content: ''
            display: block
            height: 1px
            background: $black
            width: 100%
            position: absolute
            bottom: 0px
            right: 0
            left: 0 
        &:after
            content: ''
            background-image: url('../img/user.svg')
            background-size: contain
            width: 20px
            height: 20px
            display: block
            position: absolute
            right: -25px
            top: 0px
    &__form
        display: flex
        width: 100%
        height: 100%
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        padding: 140px 170px 160px 170px
    &__emailLabel
        position: relative
        width: 100%
    &__text
        font-size: 15px
        line-height: 18px
        color: #C2BDBD
        margin-bottom: 5px
        text-align: left
        visibility: hidden
    input
        width: 100%
        height: 50px
        border: none
        border-bottom: 1px solid #E5E5E5
        display: block
        font-size: 25px
        line-height: 50px
        color: $black
        outline: none
        position: relative
        margin-bottom: 10px
        padding-left: 2px
        &::placeholder
            color: #C2BDBD
    &__wrapUnderInput
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__capture
        font-family: $default-font
        font-weight: 500
        font-size: 13px
        line-height: 16px
        color: #D1D0D0
        padding-left: 13px
        position: relative
        &:before
            content: ''
            background-image: url('../img/lock 1.svg')
            background-size: contain
            background-repeat: no-repeat
            height: 13px
            width: 12px
            display: block
            position: absolute
            left: 0
            top: 1px
    &__nextButton
        width: 95px
        height: 40px
        line-height: 40px
        background: #f4f6fb
        border-radius: 5px
        text-align: center
        cursor: pointer
        &--active
            background: #31d5d4
            color: #fff
    &__warning
        font-family: $default-font
        font-size: 13px
        line-height: 16px
        color: #A02515
        display: none
    &__tick--email
        width: 20px
        height: 20px
        background-color: #37B422
        border-radius: 50%
        background-image: url('../img/tick 1.svg')
        background-size: 13px
        background-position: center
        background-repeat: no-repeat
        position: absolute
        right: -35px
        top: 6px
        display: none
    &__emailLabel--small
        width: 60%
        min-width: 300px
        margin-bottom: 35px
        .register__tick--email
            display: block
        .register__wrapUnderInput--email
            display: flex
            visibility: 'hidden'
            justify-content: flex-start
        .register__nextButton
            display: none
        input
            height: 30px
            font-size: 15px
            line-height: 30px
            padding-left: 10px
    &__passwordLabel
        display: none
        width: 100%
        position: relative
    &__tick--password
        width: 20px
        height: 20px
        background-color: #37B422
        border-radius: 50%
        background-image: url('../img/tick 1.svg')
        background-size: 13px
        background-position: center
        background-repeat: no-repeat
        position: absolute
        right: -35px
        top: 42px
        display: none
    &__wrapUnderInput--password
        display: flex
        justify-content: space-between
    &__warning--password
        display: block
        color: #D1D0D0
    &__submitButton
        width: 125px
        height: 40px
        line-height: 40px
        font-family: $default-font
        text-align: center
        background: #f4f6fb
        border-radius: 5px
        outline: none
        cursor: pointer
        border: none
        font-size: 15px
        letter-spacing: 0.05em
        color: $black
        &--validated
            background: #31d5d4
    &__passwordLabel--small
        .register__tick--password
            display: block

.forgetPassword
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 280px
        max-height: 280px
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 30px
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: #fff
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__form
        padding: 30px 40px 20px 40px
    &__text
        font-size: 21px
        color: #262626
        line-height: 25px
        margin-bottom: 5px
        font-weight: 500
        margin-left: 10px
    &__input
        width: 100%
        height: 40px
        line-height: 40px
        border-radius: 20px
        background: #f4f6fb
        outline: none
        border: none
        color: #262626
        font-size: 17px
        padding: 0 10px
    &__submit
        width: 200px
        height: 50px
        font-size: 25px
        font-family: $default-font
        margin: auto
        display: block
        border-radius: 5px
        border: none
        background: #f4f6fb
        margin-top: 40px
        outline: none
        cursor: pointer
        &--active
            background: #31d5d4
            color: #fff

.setNewPassword
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 500px
        max-height: 500px
        margin: auto
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 30px
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background: #fff
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__form
        padding: 30px 40px 10px 40px
    &__text
        font-size: 21px
        color: #262626
        line-height: 25px
        margin-bottom: 5px
        font-weight: 500
        margin-left: 10px
    &__input
        width: 100%
        height: 40px
        line-height: 40px
        border-radius: 20px
        background: #f4f6fb
        outline: none
        border: none
        margin-bottom: 5px
        color: #262626
        font-size: 17px
        padding: 0 10px
    &__item
        &:first-child
            .setNewPassword__input
                margin-bottom: 30px
                opacity: 0.6
                
    &__submit
        width: 200px
        height: 50px
        font-size: 25px
        font-family: $default-font
        margin: auto
        display: block
        border-radius: 5px
        border: none
        background: #f4f6fb
        margin-top: 30px
        outline: none
        cursor: pointer
        &--active
            background: #31d5d4
            color: #fff
    &__capture
        margin-bottom: 20px
        font-size: 13px
        font-weight: 100
        color: red
        visibility: hidden
        margin-left: 10px

.emailVerification
    padding-top: 20px
    padding-bottom: 50px
    background: url('../img/bgr.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 100%
    min-height: calc(100vh - 85px)
    max-height: calc(100vh - 85px)
    &__window
        max-width: 550px
        width: 100%
        height: auto
        min-height: 450px
        max-height: 450px
        border-radius: 20px
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25)
        padding-bottom: 30px
        background: #fff
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        margin: auto
    &__heading
        font-size: 23px
        text-align: center
        line-height: 60px
        font-weight: 400
        color: #fff
        background: $gradient
        border-radius: 20px 20px 0 0
    &__textBlock
        padding: 30px 20px
    &__alertInText
        border: 2px solid red
        padding: 20px
        margin-bottom: 20px
        border-radius: 10px
        &-text
            font-size: 17px
            line-height: 23px
            &--bold
                font-size: 23px
                line-height: 28px
                margin-bottom: 10px
    &__text
        font-size: 15px
        color: #262626
        margin-bottom: 20px
        a
            color: blue
    &__button
        width: 200px
        height: 50px
        font-size: 20px
        font-family: $default-font
        margin: auto
        display: block
        border-radius: 5px
        border: none
        background: #f9e547
        outline: none
        cursor: pointer
    

@import "alerts"
@import "journal"
@import "groupEdit"
@import "home"

@import "media" // Всегда в конце
